name: PublishSwift

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: SSH to server and execute commands
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: popyvanov.ru
        username: root
        password: ${{ secrets.SSH_PASSWORD }}
        script: |
          cd /myBlog
          git pull
          swift run
          exit

